body {
  background-color: #191919;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
}



/* Estilo base para a classe .me */
.me {
  display: flex;
  width: 1204px;
  height: 350px;
  padding-top: 19px;
  justify-content: center;
  align-items: center;
  gap: 219px;
  flex-shrink: 0;
  margin: 50px auto 0; /* Adicionando 50px de margem superior, ajuste conforme necessário */
}

/* Media query para telas menores ou iguais a 768px */
@media only screen and (max-width: 768px) {
  .me {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-top: 200px; /* Ajuste conforme necessário para evitar sobreposição com a barra de navegação */
  }
}

/* Media query para telas menores ou iguais a 480px */
@media only screen and (max-width: 480px) {
  .me {
    padding: 10px;
    gap: 10px;
    margin-top: 200px; /* Ajuste conforme necessário para evitar sobreposição com a barra de navegação */
  }

}




.text {
  width: 100%;
  /* Definindo a largura como 100% */
  text-align: left;
}

.text h1 {
  color: #D9D9D9;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 120.69% */
  letter-spacing: -1px;
}

.picture {
  width: 349px;
  height: 349px;
  flex-shrink: 0;
  border-radius: 230px;
  border: 9px solid #0f21e7;
  background: url(../assets/profile_picture.jpg) lightgray 50% / cover no-repeat;

}

.name {
  background: rgb(10, 18, 110);
  background: linear-gradient(90deg, rgba(10, 18, 110, 1) 1%, rgba(5, 188, 216, 1) 50%, rgba(6, 127, 187, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.name2 {
  background: rgb(4, 214, 228);
  background: linear-gradient(90deg, rgba(4, 214, 228, 1) 0%, rgba(6, 127, 187, 1) 53%, rgba(10, 18, 110, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}


.Tech {
  color: #CCC;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 54.167% */
  padding: 0 50px;
  margin-top: 200px;
  /* Adicione a margem superior desejada */
}

.Tech2 {
  color: #CCC;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 54.167% */
  padding: 0 50px;

}


.techs {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

/* Adapte o número de colunas conforme necessário para diferentes tamanhos de tela */
@media screen and (max-width: 1200px) {
  .techs {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
  .tecnologias{
    margin-top: 300px;
  }

  .Tech{
    line-height: 50px;

  }
}

@media screen and (max-width: 900px) {
  .techs {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .techs {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}


.techs svg {
  width: 100px;
  /* Ajuste o tamanho conforme necessário */
  height: 100px;
  /* Ajuste o tamanho conforme necessário */
  margin: 10px;
  transition: transform 0.3s ease, filter 0.3s ease, color 0.3s ease;
}

.techs svg:hover {
  transform: scale(1.1);

}

.techs .svg1 {
  align-items: center;
  justify-content: center;
  display: flex;
}

.router-link{
  padding: 0;
  margin: 0;
}


.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0f21e7;
  color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.back-to-top:hover {
  background-color: var(--fiver-color);
  color: var(--primary-color);
}

.back-to-top.show {
  opacity: 1;
}